*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/spec/dummy/db/*.sqlite3
/spec/dummy/log/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
config/initializers/secret_token.rb
spec/dummy/cloud-storage
spec/dummy/log/*
spec/dummy/tmp/*
